body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: mediumspringgreen;
  }  

.wrap {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .container {
    display: inline-block;
    width: 40%;
  }

  .instructions {
    margin-right: 50px;
  }

  button {
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
  }
